body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.content1 {
  max-width: 800px;
}
body.blur {
  filter: blur(5px);
}
.container-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  /* max-width: 800px; */
  grid-template-rows: 1fr;
  min-height: 800px;
  gap: 10px;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #000;
}
.container-nav {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 40px;
}

.heading {
  color: blue;
}

.tasks {
  border-top: 1px #dedede solid;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

.task-checked {
  display: flex;
}
.main-task {
  padding-left: 10px;
}
#todo {
  width: 100%;
  padding: 10px;
  outline: 1px #e9e9e9;
  border-radius: 400px;
  border: 1px solid #dedede;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
#edited-tasks {
  width: 400px;
  padding: 10px;
  outline: 1px #e9e9e9;
  border-radius: 10px;
  border: 1px solid #dedede;
  letter-spacing: 1px;
  display: block;
}
.edit {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}
#todo::placeholder {
  font-size: 12px;
  letter-spacing: 1px;
}

.delete {
  color: rgb(240, 49, 49);
  cursor: pointer;
}
.overlay {
  max-width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 30px;
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.save {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #6c63ff;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.overlay-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
