/* 
--------------------- TYPOGRAPHY ---------------------
FONT SIZES
10px / 12px / 14px / 16px / 18px / 20px / 24px / 28px / 32px /

FONT WEIGHTS 
400 / 500 / 600 / 700 

LINE HEIGHT 
1.5 / 1.2 

FONT FAMILY 
Inter

--------------------- COLORS --------------------- 
PRIMARY 
Base: #6c63FF (Light Purple)

---primary: #6c63ff;
---primary-50:#ecefff;
---primary-100: #dde2ff;
---primary-200:  #c2c9ff;
---primary-300: #9ca5ff;
---primary-400: #7577ff;
---primary-600: #5036f5;
---primary-700: #452ad8;
---pirmary-800: #3825ae;
---primary-800: #312689;
---primary-950:#1e1650;

GRAYS 

--gray-50:#fafafa;
--primary-100: #f3f3f6;
--primary-200: #e2e2e9;
--primary-300: #d3d2da;
--primary-400: #aaa9b9;
--primary-500: #6d6c7f;
--primary-600: #4e4d60;
--primary-700: #3c3b4a;
--primary-800: #25252c;
--primary-900: #16161d;
--primary-950: #08080c;


*/

:root {
  --primary-50: #ecefff;
  --primary: #6c63ff;
  --primary-50: #ecefff;
  --primary-100: #dde2ff;
  --primary-200: #c2c9ff;
  --primary-300: #9ca5ff;
  --primary-400: #7577ff;
  --primary-600: #5036f5;
  --primary-700: #452ad8;
  --pirmary-800: #3825ae;
  --primary-800: #312689;
  --primary-950: #1e1650;
  /* GRAYS */
  --gray-50: #fafafa;
  --gray-100: #f3f3f6;
  --gray-200: #e2e2e9;
  --gray-300: #d3d2da;
  --gray-400: #aaa9b9;
  --gray-500: #6d6c7f;
  --gray-600: #4e4d60;
  --gray-700: #3c3b4a;
  --gray-800: #25252c;
  --gray-900: #16161d;
  --gray-950: #08080c;
}
/* --------- GLOBAL STYLES  --------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  /* background-color: var(--gray-50); */
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--gray-800);
}

p,
a,
h5,
.small,
.smallest,
h4 {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray-800);
}
p {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  font-size: 1.4rem;
  font-weight: 400;
}

.small {
  font-size: 1.2rem;
  font-weight: 400;
}
.smallest {
  font-size: 1rem;
  font-weight: 400;
}

button {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-800);
  width: 100%;

  transition: background-color 0.3s ease;
  padding: 0.8rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
}

.nav {
  background-color: var(--gray-100);
  animation: expand 1s ease-in 0s 1 forwards;
  width: 100%;
  max-width: 300px;
  min-height: 100vh;

  padding: 4rem 1rem 0rem 0.8rem;
  position: fixed;
  /* z-index: 1; */
}

.nav img {
  width: 25px;
}

a:hover {
  background-color: var(--gray-200);
}

.nav-links {
  display: flex;
  align-items: center;

  gap: 8px;
  padding-left: 2rem;
}
/* -----------------SEARCH-BOX-----------------  */
.search {
  float: right;
  margin: 5px;
  width: 300px;
}

.search input {
  display: inline-block;
  width: 100%;
  padding: 0.8rem 2rem;
  outline: none;

  border: 1px solid var(--gray-300);
  border-radius: 15px;
}

/* -----------------NAV AND NAV LINKS STYLES----------------- */

@keyframes slide-in-text {
  from {
    transform: translateX(-8rem);
    opacity: 0;
  }

  to {
    transform: translateX(0.5rem);
    opacity: 1;
  }
}

.flex-container {
  display: flex;
}

/*----------------- MAIN PAGE AND CONTENT----------------- */
.main-content {
  padding-left: 7rem;
  width: 100%;
  max-width: 800px;
  margin-left: 30rem;
}

.main-content-heading {
  padding-top: 5rem;
  margin-left: 2rem;
  padding-bottom: 3rem;
}

/* -----------------CONTENT GENERATED BY JS INSIDE CONTENT DIV----------------- */
.tasks-container {
  border-bottom: 1px var(--gray-300) solid;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.checkbox-container {
  display: flex;
}
.check-box {
  cursor: pointer;
}
.task {
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-900);
}
.todo {
  width: 75%;
  padding: 1rem;
  outline: 1px var(--gray-300);
  border-radius: 10px;
  border: 1px solid var(--gray-300);
  pointer-events: none;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.add-task-heading {
  color: var(--gray-800);
}

.add-task-card {
  width: 75%;
  border: var(--gray-300) solid 1px;
  min-height: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

#editing-input {
  width: 400px;
  padding: 10px;
  outline: 1px var(--gray-300);
  border-radius: 10px;
  border: 1px solid var(--gray-300);

  display: block;
}
.edit {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}
.edit-icon,
.delete-icon {
  width: 20px;
  opacity: 0;
  transform: translateX(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  pointer-events: none;
}
#todo::placeholder {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.overlay {
  max-width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  padding: 3rem;
  position: relative;
  height: 20rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;

  border-radius: 15px;
}

.delete-overlay {
  width: 90%;
  max-width: 500px;
  border: var(--gray-300) solid 1px;
  min-height: 15rem;
  padding: 2rem;

  position: relative;
  border-radius: 15px;

  background-color: var(--gray-100);
}
.js-delete-task {
  padding-top: 4rem;
  font-size: 1.4rem;
}
.overlay-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.delete-overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.delete-button-container {
  padding-top: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
  position: absolute;
  top: 90px;
  right: 5%;
}
.save {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--gray-50);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
.save:hover {
  background-color: var(--primary-400);
}
.save:active {
  background-color: var(--primary-600);
}
.confirm-delete {
  cursor: pointer;
  color: var(--primary);
  font-size: 1.4rem;

  font-weight: 400;
}
.cancel-delete {
  color: #b6b1ff;
  font-weight: 400;
  font-size: 1.4rem;

  cursor: pointer;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.show {
  pointer-events: all;
  opacity: 1;
}
.render-card-button {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
  margin: 0.8rem;
  padding: 1rem;
  transition: all 0.5s ease-out;
}

.js-add-task {
  color: var(--primary);

  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 80px;
  transition: all 0.5ms ease-in-out;
}

.js-add-task:hover .plus-sign-background {
  background-color: var(--primary);
  /* transform: scale(1.1); */
  margin-right: 5px;
}
.js-add-task:hover .plus-sign {
  color: var(--gray-50);
}
.js-add-task:hover .button-placeholder {
  margin-right: 5px;
  color: var(--primary);
}

.plus-sign {
  color: var(--primary);
  font-size: 2.8rem;
  font-weight: 700;
  transition: color 0.5s ease;

  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid var(--primary); */

  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.plus-sign-background {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.button-placeholder {
  /* color: #a7a1ff; */
  color: var(--gray-600);
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 0.5s;
  padding-top: 2px;
}

.logo-container {
  display: flex;
  padding-left: 20px;
  width: 100px;
}

.logo-container > img {
  width: 100%;
  object-fit: cover;
}

@keyframes expand {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/* .seperator {
  height: 100px;
  width: 100px;
  background-color: var(--gray-400);
  margin-left: 30rem;
} */
.finished-task-container {
  max-width: 800px;
  padding-left: 7rem;
  padding-top: 2rem;
  width: 100%;
  margin-left: 30rem;
}

/* ------------- CLASSES USED BY JS  ------------- */
.finished-task {
  opacity: 0;
}

/* ------------ HOVER STYLES------------ */

.tasks-container:hover .delete-icon {
  opacity: 50%;
  pointer-events: auto;
  transform: translateX(0);
}
.tasks-container:hover .edit-icon {
  opacity: 50%;
  pointer-events: auto;
  transform: translateX(0);
}
.tasks-container:hover .delete-icon:active {
  transform: scale(1.5);
}

.render-card-button:hover .plus-sign-background {
  background-color: var(--primary);

  /* transform: scale(0.9); */
}
.render-card-button:hover .button-placeholder {
  color: var(--primary);

  margin-left: 5px;
}

.render-card-button:hover .plus-sign {
  color: #fff;
}
