/* 
--------------------- TYPOGRAPHY ---------------------
FONT SIZES
10px / 12px / 14px / 16px / 18px / 20px / 24px / 28px / 32px /

FONT WEIGHTS 
400 / 500 / 600 / 700 

LINE HEIGHT 
1.5 / 1.2 

FONT FAMILY 
Inter

--------------------- COLORS --------------------- 
PRIMARY 
Base: #6c63FF (Light Purple)

---primary: #6c63ff;
---primary-50:#ecefff;
---primary-100: #dde2ff;
---primary-200:  #c2c9ff;
---primary-300: #9ca5ff;
---primary-400: #7577ff;
---primary-600: #5036f5;
---primary-700: #452ad8;
---pirmary-800: #3825ae;
---primary-800: #312689;
---primary-950:#1e1650;

GRAYS 

--gray-50:#fafafa;
--primary-100: #f3f3f6;
--primary-200: #e2e2e9;
--primary-300: #d3d2da;
--primary-400: #aaa9b9;
--primary-500: #6d6c7f;
--primary-600: #4e4d60;
--primary-700: #3c3b4a;
--primary-800: #25252c;
--primary-900: #16161d;
--primary-950: #08080c;


*/

:root {
  --primary: #6c63ff;
  --primary-50: #ecefff;
  --primary-100: #dde2ff;
  --primary-200: #c2c9ff;
  --primary-300: #9ca5ff;
  --primary-400: #7577ff;
  --primary-600: #5036f5;
  --primary-700: #452ad8;
  --pirmary-800: #3825ae;
  --primary-800: #312689;
  --primary-950: #1e1650;
  /* GRAYS */
  --gray-50: #fafafa;
  --gray-100: #f3f3f6;
  --gray-200: #e2e2e9;
  --gray-300: #d3d2da;
  --gray-400: #aaa9b9;
  --gray-500: #6d6c7f;
  --gray-600: #4e4d60;
  --gray-700: #3c3b4a;
  --gray-800: #25252c;
  --gray-900: #16161d;
  --gray-950: #08080c;
}
/* --------- GLOBAL STYLES  --------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--gray-700);
}

p,
a,
h5,
.small,
.smallest,
h4 {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray-800);
}
p {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  font-size: 1.4rem;
  font-weight: 400;
}

.small {
  font-size: 1.2rem;
  font-weight: 400;
}
.smallest {
  font-size: 1rem;
  font-weight: 400;
}

button {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-800);
  width: 100%;

  transition: background-color 0.3s ease;
  padding: 0.8rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
}

.nav {
  background-color: var(--gray-100);

  width: 100%;
  max-width: 300px;
  top: 0;
  bottom: 0;

  padding: 1rem 1rem 0rem 0.8rem;
  position: fixed;
  /* z-index: 1; */
}

.nav-svg {
  width: 20px;
}

.nav-icon {
  width: 25px;
}

a:hover {
  background-color: var(--gray-200);
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 10px;
  padding-left: 2rem;
}

a.active {
  background-color: var(--primary-200);
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}
/* -----------------SEARCH-BOX-----------------  */
.search {
  float: right;
  margin: 5px;
  width: 300px;
}

.search input {
  display: inline-block;
  width: 100%;
  padding: 0.8rem 2rem;
  outline: none;

  border: 1px solid var(--gray-300);
  border-radius: 15px;
}

/* -----------------NAV AND NAV LINKS STYLES----------------- */

/*----------------- MAIN PAGE AND CONTENT----------------- */

.panel {
  max-width: 800px;
  /* border: 1px solvarid var(--gray-800); */
  padding-left: 7rem;
  padding-right: 1.5rem;
  width: 100%;

  margin-left: 30rem;
}

.calendar-grid {
  display: grid;

  grid-template-columns: repeat(7, 50px);
  grid-auto-rows: 50px;
  /* background-color: var(--gray-100); */
  gap: 3rem;
  padding: 1.5rem;
}
.date-setting:hover .calendar-modal {
}
.calendar-modal {
  display: grid;

  border-radius: 10px;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(7, 30px);
  grid-auto-rows: 30px;
  /* background-color: var(--gray-100); */
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--gray-200);
  max-width: 300px;
  justify-content: center;
  top: -70px;
  left: -10px;

  visibility: hidden;
  margin-bottom: 2rem;
  position: absolute;
  background-color: var(--gray-50);
  z-index: 999;
}

.small {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--gray-700);
  font-size: 1.2rem;
  font-weight: 600;
}
.day:hover {
  background-color: var(--gray-200);
}

.calendar-header {
  display: flex;
  /* justify-content: space-around; */

  padding-top: 1rem;
  padding-left: 3rem;
}
.calendar-main-heading {
  padding-bottom: 2.5rem;
}

.calendar-days {
  display: grid;
  color: var(--gray-800);

  grid-template-columns: repeat(7, 50px);

  gap: 3rem;

  justify-content: start;
}
.day {
  /* border: 1px solid var(--gray-200); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--gray-700);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}
.date-input {
  border: 1px solid var(--gray-100);
}
.day.current-date {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--gray-50);
}
.page-date {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}

.page-date > span {
  color: var(--gray-500);
}
.main-content-heading {
  padding-top: 4rem;
  margin-left: 2rem;
  padding-bottom: 3rem;
}

.hamburgar-menu {
  display: block;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
  visibility: hidden;
  z-index: 1000;
  padding-left: 1rem;
}
.hamburgar-menu2 {
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  background-color: var(--gray-200);
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--gray-700);
  border-radius: 8px;
  display: none;
}
.sidebar-overlay {
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.5); */

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  z-index: 999;
}
.menu-container {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

/* -----------------CONTENT GENERATED BY JS INSIDE CONTENT DIV----------------- */
.tasks-container {
  border-bottom: 1px var(--gray-300) solid;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
  width: 90%;
}

.checkbox-container {
  display: flex;
}
.check-box {
  cursor: pointer;
}
.task {
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-900);
}
.todo {
  width: 100%;
  padding: 1rem;
  outline: 1px var(--gray-300);
  border: none;
  border-bottom: 1px solid var(--gray-300);
  pointer-events: none;
}
.add-task-heading {
  color: var(--gray-800);
}

.add-task-card {
  width: 90%;
  border: var(--gray-400) solid 1px;
  background-color: var(--gray-950);
  min-height: 10rem;
  gap: 3rem;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  margin-bottom: 1.8rem;
  position: relative;
}

.todo-container {
  padding: 2rem;
  margin-bottom: 2rem;
}
.task-settings {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: var(--gray-500);
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}
.settings {
  border: 1px solid var(--gray-200);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.settings:hover {
  background-color: var(--gray-50);
}
.settings img {
  width: 15px;
}
.button-container {
  display: flex;
  border-top: 1px solid var(--gray-200);
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
  gap: 10px;
}

#editing-input {
  width: 400px;
  padding: 10px;
  outline: 1px var(--gray-300);
  border-radius: 10px;
  border: 1px solid var(--gray-300);

  display: block;
}
.edit {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}
.edit-icon,
.delete-icon {
  width: 20px;
  opacity: 0;
  transform: translateX(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  pointer-events: none;
}
#todo::placeholder {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.overlay {
  max-width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  padding: 3rem;
  position: relative;
  height: 20rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;

  border-radius: 15px;
}

.delete-overlay {
  width: 90%;
  max-width: 500px;
  border: var(--gray-300) solid 1px;
  min-height: 15rem;
  padding: 2rem;

  position: relative;
  border-radius: 15px;

  background-color: var(--gray-100);
}
.js-delete-task {
  padding-top: 4rem;
  font-size: 1.4rem;
}
.overlay-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.delete-overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.delete-button-container {
  padding-top: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
  position: absolute;
  top: 90px;
  right: 5%;
}
.save {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--gray-50);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
.save:hover {
  background-color: var(--primary-400);
}
.save:active {
  background-color: var(--primary-600);
}
.confirm-delete {
  cursor: pointer;
  color: var(--primary);
  font-size: 1.4rem;

  font-weight: 400;
}
.cancel-delete {
  color: #b6b1ff;
  font-weight: 400;
  font-size: 1.4rem;

  cursor: pointer;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.render-card-button {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
  margin: 0.8rem;
  padding: 1rem;
  transition: all 0.5s ease-out;
}

.js-add-task {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  transition: all 0.5ms ease-in-out;
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
}
.js-add-task:hover {
  background-color: var(--primary-600);
}

.js-cancel-task {
  background-color: var(--gray-100);
  color: var(--gray-600);
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}
.js-cancel-task:hover {
  background-color: var(--gray-200);
  color: var(--gray-700);
}

.js-add-task:hover .plus-sign-background {
  background-color: var(--primary);
  /* transform: scale(1.1); */
  margin-right: 5px;
}
.js-add-task:hover .plus-sign {
  color: var(--gray-50);
}
.js-add-task:hover .button-placeholder {
  margin-right: 5px;
  color: var(--primary);
}

.plus-sign {
  color: var(--primary);
  font-size: 2.8rem;
  font-weight: 700;
  transition: color 0.5s ease;

  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid var(--primary); */

  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.plus-sign-background {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.button-placeholder {
  color: var(--gray-600);
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 0.5s;
  padding-top: 2px;
}

.logo-container {
  display: flex;
  padding-left: 20px;
  width: 100px;
}

.logo-container > img {
  width: 100%;
  object-fit: cover;
}

/* ------------- CLASSES USED BY JS  ------------- */

/* ------------ HOVER STYLES------------ */

.tasks-container:hover .delete-icon {
  opacity: 50%;
  pointer-events: auto;
  transform: translateX(0);
}
.tasks-container:hover .edit-icon {
  opacity: 50%;
  pointer-events: auto;
  transform: translateX(0);
}
.tasks-container:hover .delete-icon:active {
  transform: scale(1.5);
}

.render-card-button:hover .plus-sign-background {
  background-color: var(--primary);
}
.render-card-button:hover .button-placeholder {
  color: var(--primary);

  margin-left: 5px;
}

.render-card-button:hover .plus-sign {
  color: #fff;
}

.show {
  transition: all 0.3s ease-in;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

/* ------------- MEDIA QUERIES ------------- */
@media (max-width: 1100px) {
  .nav {
    max-width: 200px;
  }

  .panel {
    margin-left: 18rem;
  }
  .js-content {
    width: 80%;
  }
  .add-task-card {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .hamburgar-menu2 {
    display: flex;
  }
  /* html {
    font-size: 50%;
  } */
  .overlay {
    width: 350px;
  }
  #editing-input {
    width: 100%;
  }
  .search {
    visibility: hidden;
  }
  .nav {
    pointer-events: none;
    transition: all 0.3s ease-in;
    left: -310px;
    max-width: 310px;

    opacity: 0;

    z-index: 999;
  }
  .panel {
    margin: 0;
    padding: 1rem;
  }

  .js-content {
    width: 100%;
  }
  .add-task-card {
    width: 95%;
  }
  .todo-container {
    margin-bottom: 2rem;
    padding: 10px;
  }
  .todo {
    padding: 5px;
  }

  .hamburgar-menu {
    visibility: visible;
  }

  .nav-show {
    transition: all 0.5s ease-in;
    pointer-events: all;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .side-bar-show {
    opacity: 1;
    visibility: visible;
  }
}
